@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");

/*----- VARIABLES CSS -----*/
:root {
    --header-height: 3rem;
    /* Colors */
    --first-color: #010a43;
    --second-color: #FFC2C2;
    --white-color: #fff;
    --hue-color: 206;
    --body-color: hsl(var(--hue-color), 4%, 6%);
    --container-color: hsl(var(--hue-color), 4%, 40%);
    --text-gradient: linear-gradient(hsl(var(--hue-color), 4%, 24%), hsl(var(--hue-color), 4%, 8%));

    /* Font and typography */
    --body-font: 'Tinos', serif;
    --h1-font-size: 2.3rem;
    --h2-font-size: 2.3rem;
    --normal-font-size: 0.93rem;

    /*========== Margenes Bottom ==========*/
    --mb-1-5: 1.5rem;
    /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 4.5rem;
        --h2-font-size: 3.56rem;
        --normal-font-size: 1rem;
        --big-font-size: 10rem;
        --smaller-font-size: 0.813rem;
    }
}

/*----- BASE -----*/
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 3.5rem 0 0 0;
    font-family: var(--body-font);
    font-weight: initial;
}

h1,
h2 {
    margin: 0;
    font-weight: initial;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*----- LAYOUT -----*/
.bd-grid {
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--first-color);
    color: var(--white-color);
    z-index: var(--z-fixed);
}

.main {
    overflow: hidden;
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}


/*----- PAGES -----*/
/*Nav*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    width: 1.5rem;
}

.nav__toggle {
    font-size: 1.2rem;
    color: var(--white-color);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        background-color: var(--body-color);
        top: -100%;
        left: 0;
        width: 100%;
        padding: 4rem 0 3rem;
        transition: .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 1rem;
}

.nav__link {
    color: var(--white-color);
    font-size: var(--h5-font-size);
    text-transform: uppercase;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: #ffffff6b;
    transition: .4s;
    font-weight: 500;
}

.nav__link:hover {
    background: var(--white-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.nav__close {
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    color: var(--white-color);
    cursor: pointer;
}

/*Aparecer menu*/
.show {
    left: 0;
}

.scroll-header {
    background-color: var(--body-color);
}

.active-link {
    background: var(--white-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 600;
}

/*Home*/
.home {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    height: calc(100vh - 3.5rem);
}

.home__primary {
    width: 0;
    /*Animation*/
    background-color: var(--first-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.home__title {
    font-size: var(--h1-font-size);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: var(--white-color);
}

.home__img {
    width: 235px;
    height: auto;
}

.home__secondary {
    width: 0;
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.home__scroll {
    position: absolute;
    left: 0;
    bottom: 15%;
    font-size: var(--smaller-font-size);
    transform: rotate(270deg);
    color: var(--first-color);
}

.home__scroll::after {
    content: '';
    position: absolute;
    top: 45%;
    left: -10%;
    width: 38px;
    height: 1px;
    background-color: var(--first-color);
    margin-left: -2.5rem;
}

.home__year {
    font-size: var(--big-font-size);
    -webkit-text-stroke: 2.3px var(--first-color);
    color: transparent;
}


@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .l-header {
        background-color: transparent;
    }

    .nav {
        display: grid;
        grid-template-columns: 3fr 4fr 1fr;
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-right: 5rem;
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .home {
        grid-template-columns: 4fr 3fr;
        grid-template-rows: 1fr;
        height: 100vh;
    }

    .home__primary {
        justify-content: center;
    }

    .home__img img {
        position: absolute;
        width: 361px;
        top: 5%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .home__year {
        writing-mode: vertical-rl;
        margin-left: 5rem;
    }

    .sponsor__img {
        width: 150px;
        margin-top: 70px;
        margin-bottom: 70px;
        max-width: 100%;
    }

    .sponsor__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        width: 100%;
        justify-items: center;
        align-items: center;
        background-color: #ffc2c270;
        padding: 20px;
        padding-left: 70px;
        padding-right: 120px;
    }

    /* Apply animation to sponsor images */
    .sponsor__img {
        animation: fadeIn 0.5s ease forwards;
    }

    .sponsor__img:nth-child(1) {
        animation-delay: 0.2s;
    }

    .sponsor__img:nth-child(2) {
        animation-delay: 0.4s;
    }

    .sponsor__img:nth-child(3) {
        animation-delay: 0.6s;
    }

    .sponsor__img:nth-child(4) {
        animation-delay: 0.8s;
    }

    /*=============== fashion ===============*/
    .fashion {
        padding-top: 30px;
        background-color: #ffc2c270;
        padding-bottom: 100px;
    }
    .fashion__container {
        display: flex;
        position: relative;
        animation: fadeIn 1s ease-out forwards;
    }

    .section__title {
        place-content: center;
        justify-items: center;
        display: grid;
        font-size: var(--h2-font-size);
        font-weight: 700;
        margin-bottom: 20px;
    }

    /* Define animations */
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideInUp {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInRight {
        from {
            opacity: 0;
            transform: translateX(-50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .fashion__content {
        row-gap: 0.25rem;
        margin-bottom: 85px;
        animation: slideInUp 1s ease-out forwards;
    }

    .fashion__data {
        display: grid;
    }

    .fashion__icon {
        font-size: 1.2rem;
        color: var(--white-color);
    }

    .fashion__title {
        font-size: 20px;
        font-weight: 700;
        text-decoration: underline;
        animation: slideInUp 1s ease-out backwards;

    }

    .fashion__subtitle {
        font-size: 17px;
        font-weight: 550;
        color: rgb(48, 46, 46);
    }

    .fashion__data:nth-child(1),
    .fashion__data:nth-child(4) {
        margin-left: 1.5rem;
    }

    .fashion__img {
        width: 250px;
        height: auto;
        margin-left: 50px;
        margin-top: 25px;
        margin-bottom: 65px;
        animation: fadeInRight 1s ease-out forwards;
    }

    /*=============== discount ===============*/
    .discount{
        background-color: #ffc2c270;
        padding-bottom: 70px;
    }

    .discount__container {
        position: relative;
        background-color: hsl(0deg 0% 100% / 41%);
        padding: 2rem 1.5rem;
        border-radius: .75rem;
        width: 70%;
        height: 300px;
    }

    .discount__animate {
        margin-left: 120px;
    }

    .discount__title {
        margin-top: 20px;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: var(--mb-0-75);
    }

    .discount__description {
        margin-bottom: var(--mb-1);
        font-size: 20px;
        line-height: 40px;
    }

    .discount__img {
        width: 300px;
        position: absolute;
        top: 4.5rem;
        right: 7rem;
        border-radius: 7px;
    }

    /* Apply animation to the discount text content */
    .discount__animate {
        animation: fadeIn 1s ease forwards;
    }

    .discount__img {
        animation: fadeIn 1s ease forwards;
        animation-delay: 0.5s;
    }

    .discount__container:hover .discount__img {
        transform: scale(1.05);
    }

    /*=============== PRODUCTS ===============*/
    .products{
        background-color: #ffc2c270;
        padding-top: 100px;
    }

    .products__line {
        line-height: 4rem;
    }

    .products__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem 1.5rem;
        padding-top: 2rem;
        display: grid;
        place-content: center;
        justify-items: center;
    }

    .products__card {
        width: 75%;
        height: 170px;
        background-color: hsl(0deg 0% 100% / 41%);
        padding: .75rem;
        border-radius: .5rem;
        display: grid;
    }

    .products__img {
        width: 90px;
        margin-left: -2rem;
    }

    .products__imgs {
        width: 120px;
        margin-left: -2rem;
        height: auto;
        padding-bottom: 15px;
    }

    .products__content {
        align-self: flex-end;
        padding-left: 50px;
        display: flex;
    }

    .abc{
        padding-top: 14px;
        padding-left: 25px;
    }

    .abcd{
        padding-top: 8px;
        padding-left: 25px;
    }

    .products__title,
    .products__price {
        font-size: larger;
    }

    .products__price {
        font-weight: var(--font-semi-bold);
    }

    .products__button {
        position: absolute;
        right: .5rem;
        bottom: .5rem;
        padding: .5rem;
        border-radius: .35rem;
    }

    #jewellery {
        padding-bottom: 170px;
        padding-top: 200px;
    }

    /* Add animations for the "Wardrobe" section */
    .products.section:nth-of-type(1) .products__container {
        animation: fadeInUp 1s ease-out forwards;
    }

    .products__card:nth-of-type(1),
    .products__card:nth-of-type(2) {
        animation: slideInLeft 1s ease-out forwards;
    }

    .products__card:nth-of-type(3),
    .products__card:nth-of-type(4) {
        animation: slideInRight 1s ease-out forwards;
    }

    .products__card:nth-of-type(5) {
        animation: slideInUp 1s ease-out forwards;
    }

    /* Add animations for the "Jewellery" section */
    .products.section:nth-of-type(2) .products__container {
        animation: fadeInUp 1s ease-out forwards;
    }

    .products__card:nth-of-type(6),
    .products__card:nth-of-type(7) {
        animation: slideInLeft 1s ease-out forwards;
    }

    .products__card:nth-of-type(8),
    .products__card:nth-of-type(9) {
        animation: slideInRight 1s ease-out forwards;
    }

    .products__card:nth-of-type(10) {
        animation: slideInUp 1s ease-out forwards;
    }

    /* Define animations */
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideInLeft {
        from {
            opacity: 0;
            transform: translateX(-50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideInRight {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideInUp {
        from {
            opacity: 0;
            transform: translateY(50px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /*=============== FOOTER ===============*/
    .footer__container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        row-gap: 2rem;

    }

    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .footer-primary {
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        display: flex;
        background-color: #010a43;
        display: grid;
        place-items: center;
        width: 870px;
    }

    .footer__title {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: var(--mb-1);
        color: #e1dede;
        padding-bottom: 10px;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
    }

    .footer__link {
        font-size: 17px;
        color: rgb(163, 160, 160);
    }

    .footer__link:hover {
        color: rgb(226, 221, 221);
    }

    .footer-secondary {
        background-color: #FFC2C2;
        margin-left: 96px;
    }

    .footer__form {
        margin-left: 5px;
        margin-top: 22px;
        display: flex;
        column-gap: .5rem;
        background-color: var(#010a43);
        padding: .5rem .75rem;
        margin-bottom: var(--mb-2);
        width: 40%;
    }

    .footer__input {
        padding-left: 18px;
        background-color: #010a43;
        width: 100%;
        border: 1px;
        border-radius: 5px;
    }

    .footer__input::placeholder {
        color: rgb(163, 160, 160);
        font-size: var(--normal-font-size);
        font-family: var(--body-font);
    }

    .button {
        background-color: #010a43;
        color: rgb(214, 210, 210);
        display: inline-flex;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .footer__social {
        display: flex;
        column-gap: 1.25rem;
        margin-left: 20px;
    }

    .footer__social-link {
        display: inline-flex;
        padding: .5rem;
        border-radius: .25rem;
        font-size: 1rem;
        margin-right: 10px;
    }

    .footer__social-link:hover {
        color: #010a43;
    }

    .ri-facebook-fill,
    .ri-instagram-line,
    .ri-twitter-line {
        font-size: 19px;
        color: #333;
    }


    .footer__copy {
        margin-top: 5rem;
        text-align: center;
    }

    .footer__copy-link {
        font-size: var(--smaller-font-size);
        color: var(--text-color-light);
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .footer .footer__content {
        animation: fadeIn 0.5s backwards;
    }

    .footer .footer__content:nth-child(1) {
        animation-delay: 0.5s;
    }

    .footer .footer__content:nth-child(2) {
        animation-delay: 0.5s;
    }

}

@media screen and (min-width: 1200px) {
    .body {
        display: flex;
    }

    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        height: calc(3.5rem + 1.5rem);
    }
}